[submodule "bundle/markdown-preview.nvim"]
	path = bundle/markdown-preview.nvim
	url = https://github.com/iamcco/markdown-preview.nvim.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
